<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media="screen" title="no title" charset="utf-8">

{{!-- <form action="/login" method="GET">
    <p>Username</p>
    <input type="text">
    <p>Password</p>
    <input type="password">
    <input type="submit">
</form> --}}

<div>
    <h1>Gifty</h1>
    <form action="/sign-up" method="GET">
        <input type="text" placeholder="First Name" class="name-input">
        <input type="text" placeholder="Last Name" class="name-input">
        <input type="text" placeholder="Username">
        <input type="text" placeholder="Email Address">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        <input type="submit" id="submit-input" value="Signup">
    </form>
</div>
