<link rel="stylesheet" href="stylesheets/index.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="javascripts/signup/validator.js"></script>

<div>
    <h1>Gifty</h1>
    <form action="/sign-up" method="GET">
        <ul>
            <li class="name-li" id="first-name-li">
                <input type="text" placeholder="First Name" class="name-input" id="first-name-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error name-error" id="first-name-error"></p>
            </li>
            <li class="name-li" id="last-name-li">
                <input type="text" placeholder="Last Name" class="name-input" id="last-name-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error name-error" id="last-name-error"></p>
            </li>
            <li id="username-li">
                <input type="text" placeholder="Username" id="username-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="username-error"></p>
            </li>
            <li id="email-address-li">
                <input type="text" placeholder="Email Address" id="email-address-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="email-address-error"></p>
            </li>
            <li id="password-li">
                <input type="password" placeholder="Password" id="password-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="password-error"></p>
            </li>
            <li id="confirm-password-li">
                <input type="password" placeholder="Confirm Password" id="confirm-password-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="confirm-password-error"></p>
            </li>
            <li id="submit-li">
                <input type="submit" id="submit-input" value="Signup">
            </li>
        </ul>
    </form>
    <a href="/login">Already have an account?</a>
</div>
