<link rel="stylesheet" href="stylesheets/login.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="javascripts/login/validator.js"></script>

<div>
    <h1>Gifty</h1>
    <form action="/sign-up" method="GET">
        <ul>
            <li id="username-li">
                <input type="text" placeholder="Username" id="username-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="username-error"></p>
            </li>
            <li id="password-li">
                <input type="password" placeholder="Password" id="password-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <p class="error" id="password-error"></p>
            </li>
            <li id="submit-li">
                <input type="submit" id="submit-input" value="Signup">
            </li>
        </ul>
    </form>
    <a href="/signup">Don't have an account?</a>
</div>
