* {
    margin: auto;
    padding: 0;
}
body {
    text-align: center;
    background-color: #19647E;
    background-image: url('../images/background-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    overflow: hidden;
}

/* container */

div {
    background-color: #28AFB0;
    width: 315px;
    margin-top: 150px;
    border: 2px dashed white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 0 30px 70px 30px;
}

/* title */

div h1 {
    font-size: 45px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    color: #ffffff;
    padding: 20px;
    border-bottom: 2px dashed white;
    width: 75%;
}

div ul {
    list-style: none;
}
div ul li p {
    margin-top: 5px;
}

/* input */

div form input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    display: block;
    margin-top: 30px;
    color: #505050;
}
div form input::placeholder {
    color: #9c9c9c;
}
div form input:hover {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-color: #faffbd;
}
div form input:focus {
    background-color: #faffbd;
    outline: none;
    box-shadow: inset 0 1px 1px 1px #d8d8d8;
    border: 1px solid white;
    width: 298px;
    height: 28px;
}

/* errors */

.error {
    font-size: 12px;
    font-family: Avenir;
    color: #faffbd;
    position: absolute;
}

/* submit input */

div form #submit-input {
    width: 310px;
    height: 35px;
    background-color: #19647E;
    font-size: 15px;
    color: white;
    margin-bottom: 0;
}
div form #submit-input:hover {
    background-color: #1b6a86;
    border: 1px solid white;
}
div form #submit-input:focus {
    box-shadow: none;
}
div form #submit-input:active {
    background-color: #1e7a9a;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
div a {
    text-decoration: none;
    color: #19637d;
    font-size: 14px;
    font-family: Avenir;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
    padding: 5px;
}
div a:hover {
    text-decoration: underline;
}
div a:focus {
    outline: none;
    text-decoration: underline;
}
div a:active {
    outline: none;
    border: none;
}
