/* ------------------------------------------------------------------------------------------------
    Global
------------------------------------------------------------------------------------------------ */

* {
    margin: auto;
    padding: 0;
}

/* ------------------------------------------------------------------------------------------------
    Body
------------------------------------------------------------------------------------------------ */

body {
    background: #19647E url('../images/background-2.jpg') 0/cover no-repeat;
    height: -webkit-fill-available;
    overflow: hidden;
    text-align: center;
    width: -webkit-fill-available;
}

/* ------------------------------------------------------------------------------------------------
    Div
------------------------------------------------------------------------------------------------ */

div {
    background-color: #28AFB0;
    border: 2px dashed white;
    box-shadow: outset 0 1px 2px rgba(0,0,0,0.3);
    margin-top: 100px;
    padding: 0 30px 70px 30px;
    width: 315px;
}

/* ------------------------------------------------------------------------------------------------
    Title
------------------------------------------------------------------------------------------------ */

#title {
    border-bottom: 2px dashed white;
    color: #ffffff;
    font: 100 45px 'Pacifico', cursive;
    padding: 20px;
    width: 75%;
}

/* ------------------------------------------------------------------------------------------------
    Input List
------------------------------------------------------------------------------------------------ */

ul {
    list-style: none;
}
ul li p {
    margin-top: 5px;
}
div ul .name-li {
    display: inline-block;
}
div ul #first-name-li {
    margin-right: 25px;
}

/* ------------------------------------------------------------------------------------------------
    Text Inputs
------------------------------------------------------------------------------------------------ */

.text-input {
    border: none;
    border-radius: 5px;
    color: #505050;
    display: block;
    height: 30px;
    margin-top: 30px;
    padding-left: 10px;
    width: 300px;
}
.text-input:focus {
    background-color: #faffbd;
    border: 1px solid white;
    box-shadow: inset 0 1px 1px 1px #d8d8d8;
    height: 28px;
    outline: none;
    width: 298px;
}
.text-input:hover {
    background-color: #faffbd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.text-input::placeholder {
    color: #9c9c9c;
}

/* ------------------------------------------------------------------------------------------------
    Name Inputs
------------------------------------------------------------------------------------------------ */

div form .name-input {
    display: inline-block;
    margin-top: 40px;
    width: 130px;
}
div form .name-input:focus {
    width: 128px;
}

/* ------------------------------------------------------------------------------------------------
    Errors
------------------------------------------------------------------------------------------------ */

.error {
    color: #faffbd;
    font: 12px Avenir;
    position: absolute;
}

/* ------------------------------------------------------------------------------------------------
    Submit Input
------------------------------------------------------------------------------------------------ */

#submit-input {
    border: none;
    border-radius: 5px;
    background-color: #19647E;
    color: white;
    font: 16px Avenir;
    height: 35px;
    margin-top: 30px;
    width: 310px;
}
#submit-input:hover {
    background-color: #1b6a86;
    border: 1px solid white;
}
#submit-input:focus {
    border: 1px solid white;
    box-shadow: none;
    outline: none;
}
#submit-input:active {
    background-color: #1e7a9a;
    border: 1px solid white;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    outline: inherit;
}

/* ------------------------------------------------------------------------------------------------
    Link
------------------------------------------------------------------------------------------------ */

a {
    color: #19637d;
    float: right;
    font-family: Avenir;
    font-size: 14px;
    margin: 10px 2px 0 0;
    padding: 5px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: none;
    text-decoration: underline;
}
a:active {
    border: none;
    outline: none;
}
